.row{
    padding: 1px;
}
::-webkit-scrollbar{
    display: none;
}
.movie_row{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 20px;
}
.movie-row::-webkit-scrollbar{
    display: none;
}
.movies{
    width: 300px;
    object-fit: contain;
    margin-right: 20px;
    height: 200px;
    transition: 460ms;
    cursor: grab;
}
.movies:hover{
    transform: scale(1.06);
}
.movie-poster{
    height: 280px;
}